* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/* variabelen */
:root {
    --searchbar-border: 1px solid #E4E4E4;
    --background-color-one: #ffffff;
    --color-one: #222222;
    --color-two: #B9A16B;
    --color-three: #808080;
    --color-four: #767676;
}

/* font voor de hele pagina */
body {
    font-family: "Poppins", sans-serif;     /* Poppins ipv. Sofia Pro */
    font-size: max(14px, 0.75vw);
    color: #222222;
    background-color: var(--background-color-one);
}


h1, h2 {
    font-family: "Lora", serif;
    text-transform: capitalize;
    font-weight: normal;
}
h1 {
    font-size: max(35px, 1.75vw);
}
h2 {
    font-size: max(26px, 1.35vw);
}
h3 {
    font-size: max(20px, 1.25vw);
}

ul {
    list-style-type: none;
}

/* alle tekst linkjes zijn niet blauw meer met underline */
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
}


/* alle lijntjes/streepjes op de pagina zoals voor "LATEST TRENDS" en onder "SHOP NOW" */
div#slider > p:first-of-type::before, div#weekdeal > p:first-of-type::before {
    content: '';
    height: 2px;
    width: 40px;

    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 0;
    background-color: var(--color-two);
}
.underline::after {
    content: '';
    height: 2px;
    width: 30px;

    display: block;
    position: absolute;
    background-color: var(--color-one);
}

ul a {
    transition: 250ms;
}
h3 a:hover::after,
ul a:hover::after {
    content: '';
    height: 2px;
    width: 30px;

    display: block;
    position: absolute;
    background-color: var(--color-one);
}
figcaption div > a:hover::after {
    content: '';
    height: 2px;
    width: 30px;

    display: block;
    position: absolute;
    background-color: var(--color-three);
}

.underline.white::after {
    width: 50px;
    background-color: var(--background-color-one);
    left: 17px;
}
div#banner > div:last-child > div .underline.white::after {
    left: 85px;
}


/* container hele pagina */
div#container {
    max-width: 90vw;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* --------------------- */

/* Het gedeelte van de header */
div#container > header {
    width: 98.5vw;
    height: 90px;
    
    place-self: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: var(--background-color-one);
}
div#container > header > div {
    width: 90%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(160px, 175px) 30% minmax(402px, 54%) 128px 50px;
    grid-template-areas:
    'logo searchbar menu icons nav-button';

    position: relative;
    top: 25%;
}

div#container > header > div > img {
    grid-area: logo;
}

form.searchbar {
    grid-area: searchbar;
    display: flex;

    background-color: var(--background-color-one);
}

form.searchbar button:first-of-type {
    font-size: 20px;
    width: 50px;
    padding: 0 15px;

    cursor: pointer;

    border: var(--searchbar-border);
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--background-color-one);
}

form.searchbar input[name="search"] {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 48px;
    padding-left: 10px;

    border: var(--searchbar-border);
    border-left: none;
    border-right: none;
    
    background-color: var(--background-color-one);
}
form.searchbar select[name="categories"] {
    font-family: "Poppins", sans-serif;
    height: 50px;

    border: var(--searchbar-border);
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: var(--color-one);
    background-color: var(--background-color-one);
}

/* menu in de header */
ul.menu {
    grid-area: menu;
    font-weight: 500;
    padding: 0 50px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px 
}

div.icons {
    grid-area: icons;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.icons img {
    padding: 5px;
}
/* -EINDE van de header- */

/* header overlay menu */                   /* REMINDER MAAK DIT EEN KEER */
#menu-toggle {
    display: none;
}

.menu-button, .menu-button::before, .menu-button::after {
    display: block;
    background-color: #222;
    position: absolute;
    height: 2px;
    width: 20px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before, .menu-button:after {
    content: '';
    width: 25px;
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    width: 25px;
    margin-top: 8px;
}

.menu-button-container {
    grid-area: nav-button;
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: flex-end;
}
/*  */


/* het CONTENT gedeelte */
div#container > section {
    width: 100%;
    margin-bottom: 80px;
}

/* zorgt voor wat ruimte tussen de verschillende 'blokjes' */
div#gap-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
div#gap-container header p {
    font-size: 13px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--color-three);

    margin-bottom: 20px;
}

/* Het "Newest Arrivals" gedeelte, de slider */
div#slider {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 35% 15% 15% 35%;
    grid-template-areas:
    'latest-trends image'
    'newest-arrivals image'
    'text image'
    'shop-now image';

    background-color: #f7f7f7;
}
div#slider > p:first-of-type,
div#slider > h1,
div#slider > p:last-of-type,
div#slider > a {
    width: 80%;
    position: relative;
    top: 0;
    left: 10%;
}
div#slider > p:first-of-type {
    text-transform: uppercase;
    color: var(--color-two);
    font-weight: 500;

    grid-area: latest-trends;
    align-self: end;
}

div#slider > h1 {
    grid-area: newest-arrivals;
}
div#slider > p:last-of-type {
    grid-area: text;
}
div#slider > a {
    grid-area: shop-now;
    width: 20%;
    align-self: start;
    font-weight: 500;
}
div#slider > img {
    grid-area: image;
    width: 100%;
    height: auto;
}
/* -EINDE van Newest Arrivals gedeelte- */


/* het "Shop By Category" gedeelte */
article#category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article#category > div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    column-gap: 5px;
}

article#category figure {
    transition: 250ms;
}
article#category figure:hover {
    transform: scale(1.05);
}
/* kleine randje om de afbeeldingen in "shop by category" */
article#category figure div.category.img-border {
    height: 170px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--searchbar-border);
}
#category figure:nth-of-type(2) .category.img-border,
#category figure:nth-of-type(3) .category.img-border,
#category figure:nth-of-type(5) .category.img-border,
#category figure:last-of-type .category.img-border {
    width: 180px;
}
#category figure:first-of-type .category.img-border {
    width: 176px;
}
#category figure:nth-of-type(4) .category.img-border {
    width: 212px;
}
/* -einde van rand div- */

article#category img {
    object-fit: cover;
}

article#category figcaption {
    font-family: "Lora", serif;
    font-size: 15px;
    line-height: 30px;
}
/* -EINDE van Shop By Category gedeelte- */


/* Het "Trendy Item" gedeelte en het "Best Selling" gedeelte omdat ze 90% hetzelfde zijn */
article#trendy, 
article#best-selling {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article#trendy > header, 
article#best-selling > header {
    text-align: center;
}

article#best-selling > header > p {
    margin-bottom: 25px;
}

article#trendy > header > ul {
    font-weight: 500;
    margin-bottom: 25px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

article#trendy > header > ul a {
    color: var(--color-three);
}
article#trendy > header > ul a:hover,
article#trendy > header > ul > li:nth-of-type(2) > a {
    color: var(--color-one);
}


article#trendy > div, 
article#best-selling > div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    position: relative;
}

/* de pijltjes naar links en rechts by Trendy Items */
article#trendy > div > div,
article#best-selling > div > div {
    width: 94vw;

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 6px);
}
article#trendy > div > div > a,
article#best-selling > div > div > a {
 padding: 5px;
}

article#trendy img[alt="previous"],
article#best-selling img[alt="previous"] {
    rotate: -90deg;
}
article#trendy img[alt="next"],
article#best-selling img[alt="next"] {
    rotate: 90deg;
}
/* EINDE van pijltjes */


/* kleine randje om de afbeeldingen in "Trendy Items" en "Best Selling" */
article#trendy figure div.trendy.img-border,
article#best-selling figure div.best-selling.img-border {
    width: 22vw;
    min-width: 185px;
    max-width: 330px;
    aspect-ratio: 1 / 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border: var(--searchbar-border);
}


#trendy img,
#best-selling img {
    object-fit: cover;
}

#trendy figcaption,
#best-selling figcaption {
    margin-top: 25px;
}

#trendy figcaption > div,
#best-selling figcaption > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5px 5px 0;
}

#trendy figcaption > a, #trendy figcaption > p,
#best-selling figcaption > a, #best-selling figcaption > p {    /* Font voor de prijs en de naam */
    font-family: "Lora", serif;
    font-size: 16px;
    text-transform: capitalize;
}

#trendy figcaption > div > a,
#best-selling figcaption > div > a {    /* De kleur van de categorie */
    text-transform: capitalize;
    color: var(--color-three);
}
#trendy figcaption p, 
#best-selling figcaption p {    /* Kleur van de prijs en de sterretjes/rating */
    color: var(--color-two);
}

#trendy figcaption > div > p,
#best-selling figcaption > div > p {
    font-size: 12px;
}

del {
    color: #D6001C;
}
/* De soort overlays in "Trendy Items" en "Best Selling" in de tweede en derde afbeelingen; met het mandje, oog, en hartje, en met de -67% en HOT */
.img-border div.item-overlay {
    display: none;
}
.img-border:hover div.item-overlay {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: rgba(255, 255, 255, 0.9);
}

div.item-overlay div {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-one);
}
div.item-overlay a:first-child div {
    background-color: var(--color-two);
}


div.sale {
    position: absolute;
    top: 20px;
    left: 20px;
}
div.sale > p {
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: white;
    width: 50px;
    height: 25px;
    
    background-color: #D6001C;
}
div.sale > p:last-child {
    margin-top: 15px;
    background-color: var(--color-one);
}
/* EINDE van Trendy en Best Selling */


/* het gedeelte met "for her", "for him", en promotie */
div#banner {
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
div#banner > div {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: 
    linear-gradient(to bottom, rgba(34, 34, 34, 0.3) 0% 100%),
    url(https://www.trendwatcherhilversum.nl/wp-content/uploads/2022/01/candy-couture-campaign.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#banner > div:nth-child(2) {
    background-image: 
    linear-gradient(to bottom, rgba(34, 34, 34, 0.3) 0% 100%),
    url(https://www.proclamationjewelry.com/cdn/shop/products/mens_gold_bracelet_5mm_diamond_cut_franco_14k_2048x.jpg?v=1679522834);
}
div#banner > div > div {
    width: 106px;
    position: relative;
}

div#banner > div > div > p,
div#banner > div > div > a {
    color: white;
}

div#banner > div > div > p {
    font-size: 26px;
    font-weight: 500;
}
div#banner > div > div > a {
    font-weight: normal;
}

div#banner > div:last-child {
    background-color: var(--color-two);
    background-image: none;
}
div#banner > div:last-child > div {
    width: 230px;
}
div#banner > div:last-child > div > p:first-of-type {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}
/* EINDE van de banner */


/* het gedeelte met "summer collection" */
div#weekdeal {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35% 15% 15% 35%;
    grid-template-areas:
    'weekdeal image'
    'summer-collection image'
    'shop-now image'
    'timer image';

    background-image: linear-gradient(#EBEBEB 0% 100%), url(../images/image-background.png);
    background-size: cover;
    background-blend-mode: color;
}

div#weekdeal > p:first-of-type,
div#weekdeal > h1,
div#weekdeal > p:last-of-type,
div#weekdeal > a {
    width: 75%;
    position: relative;
    top: 0;
    left: 15%;
}

div#weekdeal > p:first-of-type {
    grid-area: weekdeal;
    align-self: end;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-two);
}
div#weekdeal > h1 {
    grid-area: summer-collection;
}
div#weekdeal > a {
    grid-area: shop-now;
    font-weight: 500;
    width: 20%;
}

div#weekdeal > p#timer {
    grid-area: timer;
    font-size: 30px;
    font-weight: 500;
    width: 340px;
    align-self: start;
}

p#timer span {
    position: relative;
    margin: 20px;
}
p#timer span::after {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color-four);

    position: absolute;
    left: 0;
    bottom: -20px;
}

p#timer span:first-of-type {
    margin-left: 0;
}
p#timer span:last-of-type {
    margin-right: 0;
}

p#timer span:first-of-type::after {
    content: 'days';
}
p#timer span:nth-of-type(2)::after {
    content: 'hours';
}
p#timer span:nth-of-type(3)::after {
    content: 'mins';
}
p#timer span:last-of-type::after {
    content: 'sec';
}

div#weekdeal > img {
    grid-area: image;
    width: 100%;
    height: auto;
}
/* EINDE van Summer Collection */


/* het gedeelte met de plaatjes; delivery, customer support, en money back */
div#promises {
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div#promises h3 {
    font-family: "Lora", serif;
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 10px;
}
div#promises p {
    font-weight: 500;
    color: var(--color-three);
}
/* EINDE van plaatjes */


/* Het gedeelte met de fotos en "#Uomostyle" */
.instagram-gallery {
    max-width: 1411px;
    height: auto;
    display: grid;
    place-self: center;
    justify-content: center;
    grid-template-columns: minmax(33%, 465px) minmax(33%, 465px) minmax(33%, 465px);
    grid-template-rows: 275px 124px 400px;
    grid-template-areas:
        'hashtag pic1 pic2'
        'pic3 pic1 pic2'
        'pic3 pic4 pic5';
    gap: 4px 8px;
}

.instagram-gallery > section {
    grid-area: hashtag;
    max-width: 465px;
    height: 275px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    background-color: var(--color-one);
}

.instagram-gallery > section > h2,
.instagram-gallery > section > p {
    padding: 0 34px;
}

.instagram-gallery h2 a {
    color: white;
    text-transform: capitalize;
}
.instagram-gallery h2 a:hover {
    text-decoration: underline;
}

.instagram-gallery > img {
    object-fit: cover;
    max-width: 465px;
    max-height: 400px;
    width: 100%;
}

.instagram-gallery > img:nth-child(2) {
    grid-area: pic1;
}
.instagram-gallery > img:nth-child(3) {
    grid-area: pic2;
}
.instagram-gallery > img:nth-child(4) {
    grid-area: pic3;
    max-height: 524px;
    margin-top: 8px;
    object-position: 54% 78%;
}
.instagram-gallery > img:nth-child(5) {
    grid-area: pic4;
}
.instagram-gallery > img:nth-child(6) {
    grid-area: pic5;
}

/* extra afbeeldingen die wel te zien zijn op mobile */
.instagram-gallery > img:nth-child(7),
.instagram-gallery > img:nth-child(8),
.instagram-gallery > img:nth-child(9),
.instagram-gallery > img:nth-child(10) {
    display: none;
}
/* EINDE van #Uomostyle */

/* -EINDE van content gedeelte- */


div.line {
    width: 98.6vw;
    height: 1px;
    align-self: center;
    background-color: #E4E4E4;
}

/* alles van de footer */
footer {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
div#footer-content {
    margin-bottom: 80px;
    display: grid;
    justify-items: center;
    row-gap: 60px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    'sign-up sign-up sign-up sign-up sign-up'
    'contact company shop help mobile-app';
}

div#footer-content h3 {
    text-transform: uppercase;
    font-weight: 500;

    margin-bottom: 15px;
}
div#footer-content h3 a {
    font-family: "Poppins", sans-serif;
}

div#footer-content p,
div#footer-content a {
    font-family: "Lora", serif;
    
}


div#footer-content ul a {
    text-transform: capitalize;
    line-height: 40px;
}


footer #sign-up {
    grid-area: sign-up;
    font-family: "Lora", serif;
    text-align: center;
}

footer #sign-up h2 {
    margin-bottom: 10px;
}
footer #sign-up input {
    font-family: "Poppins", sans-serif;
}
footer #sign-up input[type="email"] {
    width: 528px;
    height: 58px;
    margin: 20px 15px 0 0;
    padding-left: 20px;

    color: var(--color-four);
    border: var(--searchbar-border);
}

footer #sign-up input[type="submit"] {
    width: 150px;
    height: 60px;

    border: none;
    color: white;
    background-color: var(--color-one);
}


footer #contact {
    grid-area: contact;
}

footer #contact p {
    margin-top: 20px;
}
footer #contact p.socials {
    max-width: 225px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
p.socials > a {
    color: var(--color-four);
}
p.socials > a:nth-child(2) {
    color: var(--color-one);
}


footer #company {
    grid-area: company;
}
footer #shop {
    grid-area: shop;
}
footer #help {
    grid-area: help;
}


footer #mobile-app {
    grid-area: mobile-app;
    margin-left: 15%;
}

footer #mobile-app p {
    line-height: 40px;
}

footer #mobile-app img:first-of-type {
    margin-bottom: 15px;
}


/* laagste kleine gedeelte met Copyright, taal, en valuta */
div#bottom-footer {
    font-family: "Lora", serif;
    height: 100px;
    display: grid;
    grid-template-columns: minmax(100px, 100%) 190px 64px;
    grid-template-areas:
    'copyright language currency';
    align-items: center;
    column-gap: 25px;
}

div#bottom-footer select {
    font-family: "Lora", serif;
    font-size: 14px;
    color: var(--color-one);
    width: 100%;
    
    border: none;
    appearance: none;
    background-color: transparent;
    background-image: url(../images/012-back_top.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}
/* -EINDE van de footer- */

div#bottom-mobile-menu {
    display: none;
}

/* De "back to top" knop */
#back-to-top {
    width: 45px;
    height: 45px;

    position: fixed;
    bottom: 15%;
    right: 1%;

    border: 1px solid var(--color-four);
    border-radius: 50%;
    background-color: #ffffff;
}

#back-to-top img[alt="back-to-top"] {
    padding: 15px;
}
/* -EINDE van back to top- */