* {
    margin: 0;
    padding: 0;
}

/* variabelen */
:root {
    --searchbar-border: 1px solid #E4E4E4;
    --background-color-one: #ffffff;
    --color-one: #222222;
    --color-two: #B9A16B;
    --color-three: #808080;
}

/* font voor de hele pagina */
body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #222222;
    background-color: var(--background-color-one);
}

div#container {
    max-width: 90vw;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: snow;
}
div#container > section {
    width: 100%;
}

h1, h2 {
    font-family: "Lora", serif;
    text-transform: capitalize;
    font-weight: normal;
}
h1 {
    font-size: 3vw;
}
h2 {
    font-size: 1.5vw;
}

ul {
    list-style-type: none;
}

/* alle tekst linkjes zijn niet blauw meer met underline */
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
}


/* alle lijntjes/streepjes op de pagina zoals voor "LATEST TRENDS" en onder "SHOP NOW" */
div#slider > p:first-of-type::before, div#weekdeal > p:first-of-type::before {
    content: '';
    height: 2px;
    width: 40px;

    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 0;
    background-color: var(--color-two);
}
.underline::after {
    content: '';
    height: 2px;
    width: 30px;

    display: block;
    position: absolute;
    background-color: var(--color-one);
}

ul a {
    transition: 250ms;
}
ul a:hover::after {
    content: '';
    height: 2px;
    width: 30px;

    display: block;
    position: absolute;
    background-color: var(--color-one);
}
figcaption div > a:hover::after {
    content: '';
    height: 2px;
    width: 30px;

    display: block;
    position: absolute;
    background-color: var(--color-three);
}

.underline.white::after {
    width: 50px;
    background-color: var(--background-color-one);
}



/* Het gedeelte van de header */
div#container > header {
    width: 96vw;
    height: 90px;
    
    place-self: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: var(--background-color-one);
}
div#container > header > div {
    width: 94%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    top: 25%;
}
div#container > header > div > nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav.menu > form {
    display: flex;

    background-color: var(--background-color-one);
}

nav.menu button:first-of-type {
    font-size: 20px;
    height: 50px;
    width: 50px;

    cursor: pointer;

    border: var(--searchbar-border);
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--background-color-one);
}
nav.menu input[name="search"]:active {
    border: none;
}
nav.menu input[name="search"] {
    font-family: "Poppins", sans-serif;
    height: 48px;
    width: 11vw;
    padding-left: 10px;

    border: var(--searchbar-border);
    border-left: none;
    border-right: none;
    
    background-color: var(--background-color-one);
}
nav.menu select[name="categories"] {
    font-family: "Poppins", sans-serif;
    height: 50px;

    border: var(--searchbar-border);
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: var(--color-one);
    background-color: var(--background-color-one);
}

header > div > nav > ul {
    width: 50%;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

div.icons {
    width: 13%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.icons img {
    padding: 5px;
}
/* -EINDE van de header- */


/* het CONTENT gedeelte */
/* zorgt voor wat ruimte tussen de verschillende 'blokjes' */
div#gap-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}
div#gap-container header p {
    font-size: 13px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--color-three);
}

/* Het "Newest Arrivals" gedeelte, de slider */
div#slider {
    display: grid;
    align-items: center;
    grid-template-columns: 45% 55%;
    grid-template-rows: 35% 15% 15% 35%;
    grid-template-areas:
    'latest-trends image'
    'newest-arrivals image'
    'text image'
    'shop-now image';

    background-color: #f7f7f7;
}
div#slider > p:first-of-type,
div#slider > h1, div#slider > p:last-of-type,
div#slider > a {
    width: 75%;
    position: relative;
    top: 0;
    left: 15%;
}
div#slider > p:first-of-type {
    text-transform: uppercase;
    color: var(--color-two);
    font-weight: 500;

    grid-area: latest-trends;
    align-self: end;
}

div#slider > h1 {
    grid-area: newest-arrivals;
}
div#slider > p:last-of-type {
    grid-area: text;
}
div#slider > a {
    grid-area: shop-now;
    width: 20%;
    align-self: start;
    font-weight: 500;
}
div#slider > img {
    grid-area: image;
    width: 100%;
    height: auto;
}


/* het "Shop By Category" gedeelte */
article#category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article#category > section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 5px;
}

article#category figure {
    transition: 250ms;
}
article#category figure:hover {
    transform: scale(1.05);
}
/* kleine randje om de afbeeldingen in "shop by category" */
article#category figure div.category.img-border {
    height: 170px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #E4E4E4;
}
#category figure:nth-of-type(2) .category.img-border,
#category figure:nth-of-type(3) .category.img-border,
#category figure:nth-of-type(5) .category.img-border,
#category figure:last-of-type .category.img-border {
    width: 180px;
}
article#category figure:first-of-type div.category.img-border {
    width: 176px;
}
article#category figure:nth-of-type(4) div.category.img-border {
    width: 212px;
}
/* -einde van rand div- */


article#category img {
    object-fit: cover;
}

article#category figcaption {
    font-family: "Lora", serif;
    font-size: 15px;
    line-height: 30px;
}
/* -EINDE van Shop By Category gedeelte- */


/* Het "Trendy Item" gedeelte en het "Best Selling" gedeelte omdat ze 90% hetzelfde zijn */
article#trendy, 
article#best-selling {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article#trendy > header, 
article#best-selling > header {
    text-align: center;
}

article#best-selling > header > p {
    margin-bottom: 25px;
}

article#trendy > header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    font-weight: 500;
}
   

article#trendy > section, 
article#best-selling > section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: relative;
}

article#trendy > section > div,
article#best-selling > section > div {
    width: 93vw;

    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 6px);
}
article#trendy > section > div > a,
article#best-selling > section > div > a {
 padding: 5px;
}

article#trendy img[alt="previous"],
article#best-selling img[alt="previous"] {
    rotate: -90deg;
}
article#trendy img[alt="next"],
article#best-selling img[alt="next"] {
    rotate: 90deg;
}

article#trendy > section a,
article#best-selling > section a {
    text-transform: capitalize;
}

/* kleine randje om de afbeeldingen in "Trendy Items" en "Best Selling" */
article#trendy figure div.trendy.img-border,
article#best-selling figure div.best-selling.img-border {
    width: 22vw;
    min-width: 260px;
    max-width: 330px;
    aspect-ratio: 1 / 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border: 1px solid #E4E4E4;
}


#trendy img,
#best-selling img {
    object-fit: cover;
}

#trendy figcaption,
#best-selling figcaption {
    margin-top: 25px;
}

#trendy figcaption > div,
#best-selling figcaption > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

#trendy figcaption > a, #trendy figcaption > p,
#best-selling figcaption > a, #best-selling figcaption > p {    /* Font voor de prijs en de naam */
    font-family: "Lora", serif;
    font-size: 16px;
}

#trendy figcaption > div > a,
#best-selling figcaption > div > a {    /* De kleur van de categorie */
    color: var(--color-three);
}
#trendy figcaption p, 
#best-selling figcaption p {    /* Kleur van de prijs en de sterretjes/rating */
    color: var(--color-two);
}

#trendy figcaption > div > p,
#best-selling figcaption > div > p {
    font-size: 12px;
}

/* De soort overlays in "Trendy Items" en "Best Selling" in de tweede en derde afbeelingen; met het mandje, oog, en hartje, en met de -67% en HOT */
div#item-overlay {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(255, 255, 255, 0.9);
}
div#item-overlay div {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-one);
}
div#item-overlay a:first-child div {
    background-color: var(--color-two);
}


div#sale {
    position: absolute;
    top: 20px;
    left: 20px;
}
div#sale > p {
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: white;
    width: 50px;
    height: 25px;
    
    background-color: #D6001C;
}
div#sale > p:last-child {
    margin-top: 15px;
    background-color: var(--color-one);
}
/* EINDE van Trendy en Best Selling */


/* het gedeelte met "for her", "for him", en promotie */
div#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 500;
    text-transform: uppercase;
}
div#banner > div {
    width: 450px;       /* check of je dit responsive moet maken!!!! */
    height: 450px;      /* check of je dit responsive moet maken!!!! */
    background-position: center center;

    background-image: url(../images/placeholder.png);
}

div#banner > div:last-child {
    background-color: var(--color-two);
    background-image: none;
}
div#banner > div:last-child > p:first-of-type {
    font-weight: normal;
    text-transform: none;
}


/* het gedeelte met "summer collection" */
div#weekdeal {
    display: grid;
    grid-template-areas:
    'weekdeal image'
    'summer-collection image'
    'shop-now image'
    'timer image';
}

div#weekdeal > p:first-of-type {
    grid-area: weekdeal;
}
div#weekdeal > h1 {
    grid-area: summer-collection;
}
div#weekdeal > a {
    grid-area: shop-now;
    width: 20%;
}
div#weekdeal > p.timer {
    grid-area: timer;
}
div#weekdeal > img {
    grid-area: image;
}


/* het gedeelte met de plaatjes; delivery, customer support, en money back */
div#promises {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Het gedeelte met de fotos en "#Uomostyle" */
div#instagram-gallery {
    display: grid;
    grid-template-columns: 465px 465px 465px;   /* maak responsive!!! */
    grid-template-rows: 275px 124px 400px;      /* maak responsive!!! */
    grid-template-areas:
    'uomostyle pic-2 pic-3'
    'pic-1 pic-2 pic-3'
    'pic-1 pic-4 pic-5';
}

div#instagram-gallery > section {
    grid-area: uomostyle;
}
div#instagram-gallery > img:first-of-type {
    grid-area: pic-1;
}
div#instagram-gallery > img:nth-of-type(2) {
    grid-area: pic-2;
}
div#instagram-gallery > img:nth-of-type(3) {
    grid-area: pic-3;
}
div#instagram-gallery > img:nth-of-type(4) {
    grid-area: pic-4;
}
div#instagram-gallery > img:last-of-type {
    grid-area: pic-5;
}
/* -EINDE van content gedeelte- */


/* De "back to top" knop */
#back-to-top {
    width: 45px;
    height: 45px;

    position: fixed;
    bottom: 10%;
    right: 1%;

    border: 1px solid #767676;
    border-radius: 50%;
    background-color: #ffffff;
}

#back-to-top img[alt="back-to-top"] {
    padding: 15px;
}
/* -EINDE van back to top- */