body, header, h1, h2, h3, a, p {
    font-family: "Poppins", sans-serif !important;
}

h1, h2 {
    text-transform: uppercase;
}
h1 {
    font-weight: 500;
    line-height: 35px;
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

div#gap-container {
    row-gap: 50px;
}

div#gap-container header p {
    display: none;
}

/* gedeelte van de header */
div#container > header {
    height: 60px;
}

div#container > header > div  {
    justify-items: center;
    grid-template-columns: 30px minmax(10%, 100%) 30px;
    grid-template-areas: 
    'nav-button logo icons';
}


div#container > header > div > form,
div#container > header > div > ul {
    display: none;
}

div.icons > a:first-child,
div.icons > a:nth-child(2) {
    display: none;
}
/* -EINDE van de header- */

/* OVERLAY menu */
                                    /* REMINDER MAAK DIT EEN KEER OFZO!!!! */
/* EINDE van overlay */


/* het CONTENT gedeelte */

/* Het "Newest Arrivals" gedeelte, de slider */
div#gap-container > div#slider {
    height: 600px;
    grid-template-columns: 55% 45%;
    grid-template-rows: 44% 12% 44%;
    grid-template-areas:
        'latest-trends image'
        'newest-arrivals image'
        'shop-now image';
    background-image: url(../images/slider-background.png);
    background-color: #F5E6E0;
    background-size: cover;
}

div#slider > h1 {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 35px;
}

div#slider > p:last-of-type {
    display: none;
}
div#slider > p:first-of-type,
div#slider > a {
    font-weight: bold;
}

div#slider > a {
    width: 78px;
    padding: 8px 0;
}

div#gap-container > div#slider > img {
    height: 93%;
    object-fit: cover;
    object-position: 75% 0;
    place-self: flex-end;
}
/* -EINDE van Newest Arrivals gedeelte- */


/* het "Shop By Category" gedeelte */
article#category > div {
    column-gap: 0;
}
article#category figure {
    margin-bottom: 15px;
}

#category figure:first-of-type .category.img-border,
#category figure:nth-of-type(2) .category.img-border,
#category figure:nth-of-type(3) .category.img-border,
#category figure:nth-of-type(4) .category.img-border,
#category figure:nth-of-type(5) .category.img-border,
#category figure:last-of-type .category.img-border {
 width: 160px;
}

article#category img {
    width: 100%;
}

#category figcaption {
    font-weight: 500;
}
/* -EINDE- Shop By Category gedeelte */


/* Het "Trendy Item" gedeelte en het "Best Selling" gedeelte omdat ze 90% hetzelfde zijn */
article#trendy > header,
article#best-selling > header {
    width: 100%;
}

article#trendy > div > div,
article#best-selling > div > div {
    display: none;
}

#trendy > div > figure,
#best-selling > div >figure {
    font-weight: 500;
    margin-bottom: 20px;
}

article#trendy figure div.trendy.img-border,
article#best-selling figure div.best-selling.img-border {
    min-width: 160px;
}

#trendy .img-border div.item-overlay,
#best-selling .img-border div.item-overlay {
    display: none;
}
#trendy .img-border:hover div.item-overlay,
#best-selling .img-border:hover div.item-overlay {
    display: none;
}


#trendy figure:first-of-type img,
#best-selling figure:first-of-type img {
    width: 95%;
    height: 71%;
}
#trendy figure:nth-of-type(2) img,
#best-selling figure:nth-of-type(2) img {
    width: 100%;
    height: 100%;
}
#trendy figure:nth-of-type(3) img,
#best-selling figure:nth-of-type(3) img {
    width: 92%;
    height: 92%;
}
#trendy figure:last-of-type img,
#best-selling figure:last-of-type img {
    width: 98%;
    height: 74%;
}

#trendy p i.fa-star,
#best-selling p i.fa-star {
    display: none;
}

#trendy figcaption,
#best-selling figcaption {
    margin-top: 15px;
}

#trendy figcaption > a,
#trendy figcaption > p,
#best-selling figcaption > a,
#best-selling figcaption > p {
    font-size: 14px;
}

#trendy figcaption > a:has(span):after,
#best-selling figcaption > a:has(span):after {
    content: '...';
}

#trendy figcaption span,
#best-selling figcaption span {
    display: none;
}
/* -EINDE- Trendy Items/Best Selling gedeelte */


/* Alles voor de Banner "For Him" "For Her" "Promotions */
div#banner {
    flex-direction: column;
}

div#banner > div > div {
    width: 108px;
}

div#banner > div > div > p {
    font-weight: bold;
}

div#banner > div > div > a {
    font-weight: 600;
}

div#banner > div:last-child > div {
    width: 232px;
}
div#banner > div:last-child > div > p:first-of-type {
    font-weight: 500;
}
/* -EINDE- van de Banner */


/* gedeelte "WEEKDEAL" */
div#weekdeal {
    height: 450px;

    grid-template-rows: 37% 18% 8% 37%;
}

div#weekdeal > p:first-of-type,
div#weekdeal > a {
    font-weight: bold;
    width: 175px;
}

div#weekdeal > a {
    width: 78px;
    align-self: start;
}

div#weekdeal > p#timer {
    font-size: 20px;
}

div#weekdeal > img {
    display: none;
}
/* -EINDE- weekdeal */


/* Promises plaatjes */
div#promises {
    flex-direction: column;
    row-gap: 50px;
}

div#promises h3 {
    font-weight: bold;
    text-transform: uppercase;
}
/* -EINDE- promises */


/* instagram gallery #uomostyle */
.instagram-gallery {
    grid-template-columns: 118px 118px 118px;
    grid-template-rows: 60px 118px 118px 118px;
    grid-template-areas:
    'hashtag hashtag hashtag'
    'pic1 pic2 pic3'
    'pic4 pic5 pic6'
    'pic7 pic8 pic9';
}

.instagram-gallery > section {
    width: 100%;
    height: auto;
    background-color: white;
}

.instagram-gallery > section a::before {
    content: '@UOMO | ';
}
.instagram-gallery > section a {
    color: var(--color-one);
}

.instagram-gallery > section > p {
    display: none;
}

.instagram-gallery > img {
    max-width: 118px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.instagram-gallery > img:nth-child(4) {
    margin-top: 0;
}

.instagram-gallery > img:nth-child(7),
.instagram-gallery > img:nth-child(8),
.instagram-gallery > img:nth-child(9),
.instagram-gallery > img:nth-child(10) {
    display: block;
}

.instagram-gallery > img:nth-child(8) {
    object-position: 0 66%;
}
/* -EINDE- instagram gallery */


/* -EINDE van content gedeelte- */


div#container > div.line {
    display: none;
}


/* de hele Footer */
footer {
    width: 100vw;
    place-self: center;
    background-color: #E4E4E4;
}

div#footer-content {
    text-align: center;
    margin-bottom: 60px;
    grid-template-columns: 100%;
    grid-template-areas:
    'contact'
    'company'
    'shop'
    'help'
    'sign-up'
    'mobile-app';
}

p.socials {
    margin: 0 auto;
    margin-top: 35px;
}

div#footer-content h3 {
    font-weight: bold;
    font-size: max(20px, 4.5vw);
}

div#footer-content p,
div#footer-content ul,
div#footer-content label {
    font-size: max(14px, 3vw);
}

footer #sign-up {
    font-family: "Poppins", sans-serif;
}
footer #sign-up input[type="email"] {
    width: 60%;
    margin-right: 0;
}
footer #sign-up button[type="button"] {
    width: 30%;
}

div#footer-content ul a:hover::after {
    display: none;
}
div#footer-content ul a:hover {
    text-decoration: underline;
    text-underline-offset: 9px;
}

footer #mobile-app {
    margin-left: 0;
}

div.line {
    background-color: #CFCDCD;
}

div#bottom-footer {
    height: 140px;
    margin-bottom: 55px;
    margin-left: 15px;
    grid-template-columns: 100%;
    grid-template-areas:
    'copyright'
    'language'
    'currency';
}

div.language,
div.currency {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
}

div.language::before {
    content: 'Language';
    color: var(--color-four);
}
div.currency::before {
    content: 'Currency';
    color: var(--color-four);
}

div#bottom-footer select {
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
}

div#bottom-footer select[name="language"] {
    width: 195px;
}
div#bottom-footer select[name="currency"] {
    width: 65px;
}
/* -EINDE- van de footer */


/* sticky menu aan de onderkant */
div#bottom-mobile-menu {
    text-align: center;
    width: 100vw;
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    left: 0;

    background-color: white;
}

div#bottom-mobile-menu a {
    text-transform: capitalize;
}
/* -EINDE- sticky menu */


/* Back To Top knop */
#back-to-top {
    bottom: 55px;
    right: 0;
    border: none;
    border-radius: 0;
    background-color: #EEEEEE;
}
/* -EINDE- back to top */