body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: lightskyblue;
}
form {
    display: grid;
    grid-template-areas:
    'html css'
    'genereren genereren';
    max-width: 762px;
}
form > div {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
input, select {
    height: 25px;
}
input, textarea, select {
    margin-bottom: 15px;
    padding: 0;
    border: 2px solid royalblue;
    border-radius: 3px;
    max-width: 335px;
}
input[type="checkbox"] {
    scale: 2;
    width: 13px;
    margin-bottom: 0;
}
input[type="submit"] {
    width: 85px;
    height: 30px;
    background-color: cornflowerblue;
    color: aliceblue;
}
.red {
    color: tomato;
}