* {
    margin: 0;
    padding: 0;
}

/* BASIS VOOR VAKER VOORKOMENDE DINGEN */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 30px;
}

ul {
    list-style-type: none;
}

a {
    color: #222222;
    text-decoration: none;
    padding: 0px 10px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
}

h2 {
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
}
input, select, button {
    font-family: 'Poppins', sans-serif;
}
/* --------------------------- */

/* De header met logo, menu-knop, en cart-knop */
header {
    height: 60px;
    padding: 0 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 60;

    background-color: white;
}

/* Het overlay menu */
html:has(#menu-toggle:checked), body:has(#menu-toggle:checked) { /* zo kan je niet over heel de pagina scrollen terwijl je in de overlay zit */
    height: 100%;
    overflow-y: hidden;
}
body:has(#menu-toggle:checked) {
    position: relative;
}


#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #222;
    position: absolute;
    height: 2px;
    width: 20px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before, .menu-button:after {
    content: '';
    width: 25px;
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    width: 25px;
    margin-top: 8px;
}

.menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu {
    width: 100%;
    margin-top: 60px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
#menu-toggle:checked ~ div > .menu {
    height: 100vh;
    background-color: white;
    border-top: 1px solid #E4E4E4;
}

/* Search bar */
nav.menu > form[action="index.html"] {
    display: none;
}
#menu-toggle:checked ~ div > .menu > form[action="index.html"] {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
form[action="index.html"] > input[name="search"], form[action="index.html"] > button[type="submit"] {
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}
form[action="index.html"] > input[name="search"] {
    width: 75%;
    height: 38px;
    padding-left: 17px;

    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
form[action="index.html"] > button[type="submit"] {
    color: #222222;
    width: 40px;
    height: 40px;

    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background-color: white;
}
/*  */

.menu > ul li {
    width: 100%;
    margin: 0;
    padding: 0.5em 0;

    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    
    color: #222222;
    background-color: white;
    background-image: url(../images/Expand-Less.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 46%;
}
#menu-toggle ~ div > .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ div > .menu li {
    height: 2.5em;
    padding: 0.5em 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}


.menu > ul li a {
    padding-right: 100%;
}
header:has(#menu-toggle:checked) > div.icons > a:nth-child(2) {
    width: 100%;
    height: 30px;
    padding-left: 20px;
    padding-top: 25px;

    display: block;
    position: fixed;
    bottom: 145px;
    left: 0;
    z-index: 60;

    border-top: 1px solid #E4E4E4;
}
header:has(#menu-toggle:checked) > div.icons > a:nth-child(2)::after {
    content: 'my account';
    text-transform: uppercase;

    width: 100px;
    position: absolute;
    bottom: 5px;
    left: 55px;
}

header:has(#menu-toggle:checked) ~ footer div.inner-top > p.socials {
    padding-top: 0;
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 60;
}

header:has(#menu-toggle:checked) ~ footer div.bottom-footer div.lang-curr {
    position: fixed;
    bottom: 50px;
    left: 20px;
    z-index: 60;
}
/* --------------------------- */

header > div:first-of-type, header div.icons {
    height: 28px;
}

/* --------------------------- */

/* De content in het midden van de pagina */
/* Het gedeelte met plaatjes */
/* grote voorbeeld plaatje */
#gallery {
    position: relative;
    padding: 0 15px 40px;
}
#gallery #big-image {
    max-width: 700px;
    height: auto;

    position: relative
}
#gallery #big-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}
/*  */

/* pijltjes voor vorige en volgende afbeelding */
#big-image #prev-next-item {
    width: 100%;

    display: flex;
    justify-content: space-between;
    
    position: absolute;
    bottom: 50%;
    left: 0;
}
#big-image #prev-next-item img {
    width: 65px;
    height: 65px;
}
/*  */

/* afbeelding vergroten */
#big-image #zoom-item {
    margin-right: 10px;

    position: absolute;
    bottom: 0;
    right: 0;
}
#big-image #zoom-item img {
    width: 65px;
    height: 65px;
}
/*  */

/* 4 kleine afbeeldingen */
#gallery #small-images {
    max-height: 90px;
    margin: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 2px;
}
#gallery #small-images img {
    min-width: 65px;
    max-width: 90px;
    height: auto;

    opacity: 50%;
}
#gallery #small-images img.active {
    opacity: 100%;
}
/*  */
/*  */

/* content gedeelte met naam, prijs, add to cart en etc */
section#info {
    padding: 0 10px 45px;
}
section#info h1 {
    font-size: 20px;
    line-height: 50px;
    font-weight: normal;
}
section#info h1 em {
    font-size: 22px;
}

section#info > p:first-of-type {
    padding: 15px 0 35px;
}

div.add-quantity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 20px;
}
section#info input[type="number"] {
    width: 116px;
    height: 56px;
    margin-bottom: 5px;
    text-align: center;

    border: 2px solid #E4E4E4;
}
section#info > p:nth-of-type(4), section#info > p:nth-of-type(5), section#info > p:nth-of-type(6) {
    font-size: 13px;
    line-height: 25px;
}
section#info > p:nth-of-type(2), section#info > p:nth-of-type(3) {
    text-transform: uppercase;
    font-style: italic;

    padding-right: 30px;

    display: inline;
}
p::before {
    text-transform: uppercase;
    color: #767676;
}
section#info > p:nth-of-type(4) {
    padding-top: 32px;
}
section#info > p:nth-of-type(4)::before {
    content: "sku: ";
}
section#info > p:nth-of-type(5)::before {
    content: "categories: ";
}section#info > p:nth-of-type(6)::before {
    content: "tags: ";
}
section#info button {
    width: 248px;
    height: 60px;

    transition-duration: 0.4s;
    cursor: pointer;
    border: none;

    color: white;
    background-color: #222222;
}
section#info .fa-share-nodes, section#info .fa-heart {
    font-size: 16px;
}
/*  */

/* Gedeelte met description en veel tekst */
#description {
    padding: 0 10px 54px;
}

#description ul:first-of-type {
    font-style: italic;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#description ul:first-of-type li {
    text-transform: uppercase;
    padding: 0 10px;
    color: #767676;
}
#description ul:first-of-type li.active {
    color: #222222;
}
#description ul:nth-of-type(2) {
    list-style-type: disc;
    list-style-position: inside;
}
#description ul:nth-of-type(2) li::marker {
    color: #C4C4C4;
}

#description h3 {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
}
#description h3:first-of-type {
    padding: 24px 0 25px;
}
#description h3:nth-of-type(2) {
    padding-bottom: 22px;
}
#description h3:nth-of-type(3) {
    padding-top: 37px;
    padding-bottom: 22px;
}
#description h3:nth-of-type(4) {
    padding-top: 30px;
}
#description ol {
    list-style-position: inside;
}
#description ol li::marker {
    font-size: 16px;
    font-style: italic;
    color: #767676;
}
/* --------------------------- */

/* De footer met allemaal linkjes enzo */
footer {
    padding: 0 10px;

    background-color: #E4E4E4;
}
footer div.inner-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #CFCDCD;
}
footer div.inner-footer h2 {
    padding-top: 25px;
    padding-bottom: 8px;
}
footer div.inner-top {
    line-height: 26px;
    padding-top: 50px;
    padding-bottom: 16px;
}
footer div.inner-top img {
    padding-bottom: 30px;
}
div.inner-footer div.inner-top p.socials {
    font-size: 16px;
    letter-spacing: 10px;
    padding-top: 28px;
}
.fa-twitter {
    color: #767676;
}

footer div.inner-middle {
    line-height: 44px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 110px;
}

footer div.inner-bottom {
    max-width: 410px;
    padding-top: 32px;
    padding-bottom: 65px;
}

div.inner-bottom form {
    padding-top: 20px;
}
#emailaddress, #join {
    padding: 23px;

    color: #222222;
    background-color: white;
    border: none;
    border-radius: 0;
}
#emailaddress {
    width: 50%;
    margin: 15px 0 41px;
}
#emailaddress::placeholder {
    color: #222222;
}
#join {
    font-style: italic;
}

.inner-bottom p {
    font-size: 15px;
    font-style: italic;
}
.inner-bottom img[alt="secure-payments"] {
    max-width: 265px;
}

div.bottom-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 14px;
    line-height: 45px;
}
div.bottom-footer label {
    color: #767676;
    margin-right: 15px;
}
div.bottom-footer select {
    background-color: transparent;
    border: none;
    appearance: none;
    
    background-image: url(../images/back-top.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 55%;
}
div.bottom-footer select:hover {
    border-bottom: 1px solid #222222;
}
select#language {
    width: 188px;
    color: #222222;
}
select#currency {
    width: 60px;
    color: #222222;
}
/* --------------------------- */

/* back to top knop */
.back-to-top {
    width: 45px;
    height: 45px;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
}
/*  */

/* Dingen die niet of anders getoond worden op mobiel */

header>div.icons>a:nth-child(1), header>div.icons>a:nth-child(2), header>div.icons>a:nth-child(3) {
    display: none;
}
header>div.icons>a:nth-child(4) {
    display: block;
    padding: 0;
}

section#info>div:first-of-type {
    display: none;
}
#container > section.content > section:last-child, #container > section.content > section:last-child h1, #container > section.content > section:last-child img {
    display: none;
}
section#description ul p, section#description ul li p {
    display: none;
}
/* --------------------------- */