/* Scrolling Styling */
/* Opdracht 6.2 */
:root { /* custom properties voor minder codeduplicatie */
	--scrollbar-thumb-color: sandybrown;
	--scrollbar-thumb-hover-color: rgb(201, 131, 70);
	--scrollbar-thumb-active-color: rgb(126, 71, 0);
	--scrollbar-track-color: lightgreen;
}


body div#scroll-container { 
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}


/* scrollbar voor chrome, edge, safari */
body div#scroll-container::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
}
body div#scroll-container::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-color);
}
body div#scroll-container::-webkit-scrollbar-thumb:active {
	background: var(--scrollbar-thumb-active-color);
}
body div#scroll-container::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
}


body div#scroll-container::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}
/* -- */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-image: url(https://static.vecteezy.com/system/resources/previews/011/052/153/original/cute-turtle-pattern-with-fishes-on-white-background-for-childish-wallpaper-or-wrapping-paper-fabric-printing-colorful-graphic-vector.jpg);
    background-position: center center;
}


div#scroll-container {
    width: clamp(50vw, 75vw, 80vw);
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    overflow: auto;
    scroll-snap-type: x mandatory;

    background-color: rgba(46, 139, 86, 0.5);
    border-radius: 10px;
}

/* Opdracht 6.3 */
div#scroll-container > div {
    min-width: 200px;
    scroll-snap-align: none;
}
/* --- */

#scroll-container figure {
    width: clamp(50vw, 75vw, 80vw);
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

figure img {
    width: 48vw;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 2px darkgreen;
}

figure figcaption {
    text-align: center;
    text-shadow: 1px 1px 2px darkgreen;
}