form {
    padding: 10px;
    display: grid;
    grid-template-columns: 125px 125px 250px;
    grid-template-areas:
    'elementLabel elementLabel lettertypeLabel'
    'element element lettertype'
    'tekstInput tekstInput achtergrondkleurLabel'
    'tekstInput tekstInput achtergrondkleur'
    'tekstInput tekstInput tekstkleurLabel'
    'tekstInput tekstInput tekstkleur'
    'tekstInput tekstInput tekstgrootteLabel'
    'toevoegen verwijderen tekstgrootte';
    row-gap: 10px;
    column-gap: 30px;

    background-color: white;
}
label[for="elementen"]{
    grid-area: elementLabel;
}
#elementen {
    grid-area: element;
}
#tekstInput {
    grid-area: tekstInput;
}
label[for="lettertype"]{
    grid-area: lettertypeLabel;
}
#lettertype {
    grid-area: lettertype;
}
label[for="achtergrondkleur"]{
    grid-area: achtergrondkleurLabel;
}
#achtergrondkleur {
    grid-area: achtergrondkleur;
}
label[for="tekstkleur"]{
    grid-area: tekstkleurLabel;
}
#tekstkleur {
    grid-area: tekstkleur;
}
label[for="tekstgrootte"]{
    grid-area: tekstgrootteLabel;
}
#tekstgrootte {
    grid-area: tekstgrootte;
}
button:first-of-type {
    grid-area: toevoegen;
}
button:last-of-type {
    grid-area: verwijderen;
}
div {
    max-width: 90%;
    margin: 0 auto;
}